@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

.About {
    position: relative;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 10;
    background: #000000;
    padding: max(5em, 5vw) 0 max(0.1em, 0.1vw);
    overflow: hidden;

    &::after {
        position: absolute;
        content: "";
        bottom: -1%;
        left: -10%;
        width: clamp(150vw, 30vw, 100em);
        height: 5vh;
        background: linear-gradient(142.85deg, rgba(233, 233, 237, 0.67) -414.97%, #e9e9ed -154.18%);
        filter: blur(5px);
        z-index: 200;
    }

    .titel {
        position: relative;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: clamp(3vw, 10vw, 1em);
        text-align: center;
        color: #ffffff;
        span {
            background: linear-gradient(89.95deg, #7041c2 37.28%, #81168c 79.36%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-emphasis-color: transparent;
        }
    }

    .contint_about {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-image: url(../../../../public/ImgeLait.svg);
            width: clamp(16vw, 40vw, 3em);
            height: clamp(16vw, 40vw, 3em);
            background-repeat: no-repeat;
            background-size: 100%;
            bottom: -4%;
            left: 8%;
            z-index: 1;
        }

        &::after {
            position: absolute;
            content: "";
            background-image: url(../../../../public/imgesDarck.svg);
            width: clamp(14vw, 40vw, 3em);
            height: clamp(14vw, 40vw, 3em);
            background-repeat: no-repeat;
            background-size: 100%;
            top: 0%;
            right: 10%;
            z-index: -1;
        }
        .cards {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding-top: max(4em, 4vw);

            .bgLol {
                background: #e4ecfb;
                backdrop-filter: blur(44.275px);
                border-radius: clamp(0.9vw, 5vw, 0.1em);
                padding: clamp(0.7vw, 5vw, 0.2em);
                background: linear-gradient(105.41deg, #7041c2 7.83%, #81168c 93.81%);
                .box {
                    position: relative;
                    background: linear-gradient(105.41deg, #ffffff 7%, #cddcf6 93%);
                    padding: clamp(1vw, 2vw, 0.4em);
                    color: black;
                    display: flex;
                    flex-direction: column;
                    width: clamp(30vw, 40vw, 3em);
                    height: clamp(39vw, 40vw, 3em);
                    border-radius: clamp(0.9vw, 5vw, 0.1em);
                    overflow: hidden;

                    h1 {
                        font-size: clamp(3vw, 10vw, 0.6em);
                        font-family: "Roboto", sans-serif;
                        font-weight: bold;
                        background: linear-gradient(89.95deg, #7041c2 37.28%, #81168c 79.36%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-emphasis-color: transparent;
                    }
                    h4 {
                        margin-bottom: max(1em, 1vw);
                        font-size: clamp(1.4vw, 5vw, 0.5em);
                        font-weight: bold;
                        line-height: 1;
                    }
                    p {
                        line-height: 1.3;
                        margin-bottom: max(1em, 1vw);
                        font-size: clamp(1vw, 4vw, 0.3em);
                        font-weight: bold;
                        color: #777;
                    }
                    .logo {
                        .mobayl2 {
                            position: absolute;
                            width: clamp(17vw, 10vw, 100rem);
                            right: 0;
                        }
                        .Mobail {
                            position: absolute;
                            width: clamp(22vw, 10vw, 100rem);
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .container {
        padding: clamp(3vw, 5vw, 1em) clamp(3vw, 5vw, 0.5em) 0;
        position: relative;
        display: flex;
        justify-content: space-around;
        gap: clamp(1vw, 5vw, 0.4em);
        margin-top: max(4em, 4vw);
        width: 100%;
        &::after {
            position: absolute;
            content: "";
            top: -38%;
            right: -40%;
            background: radial-gradient(50% 50% at 50% 50%, #dd0eff 0%, rgba(250, 86, 234, 0) 100%);
            opacity: 0.4;
            width: 100%;
            height: 145vh;
            z-index: -1;
        }

        &::before {
            position: absolute;
            content: "";
            top: -38%;
            left: -40%;
            background: radial-gradient(50% 50% at 50% 50%, #834de3 0%, rgba(131, 77, 227, 0) 100%);
            filter: blur(25px);
            width: 100%;
            height: 145vh;
            z-index: -1;
        }

        .row1 {
            // width: clamp(26vw, 30vw, 10em);
            // height: fit-content;
            .card {
                background-color: #000000;
                // padding: clamp(1vw, 10vw, 0.2em);
                // border-radius: clamp(1vw, 10vw, 0.2em);
                border-radius: max(1em, 1vw);
                padding: max(1em, 1vw);
                width: max(28em, 28vw);
                .questions {
                    h1 {
                        color: white;
                        font-size: clamp(2vw, 10vw, 0.1em);
                        span {
                            display: block;
                        }
                    }
                }
                .questionsIcon {
                    text-align: -moz-right;
                    text-align: end;

                    .Iconse {
                        font-size: max(2em, 2vw);
                        margin: clamp(1vw, 10vw, 0.5em) 0;
                    }
                }

                .boxback {
                    background-color: #191919;
                    border-radius: clamp(1vw, 10vw, 0.2em);
                    padding: 0 clamp(1vw, 10vw, 0.2em);

                    .questionsBox {
                        border-bottom: 2px solid #e6e6e677;

                        &:last-child {
                            border: none;
                        }
                        .answered {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h1 {
                                color: white;
                                font-size: clamp(1vw, 5vw, 0.3em);
                            }
                            .Iconse {
                                background: linear-gradient(270deg, #834de3 -0.01%, #ca56fa 88.98%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-emphasis-color: transparent;
                                font-size: clamp(2vw, 5vw, 0.3em);
                            }
                        }
                    }
                }
            }

            .name {
                position: relative;
                margin: max(1em, 1vw) 0 0 auto;
                background-color: #000000;
                padding: max(0.7em, 0.7vw) max(1em, 1vw) max(0.7em, 0.7vw) max(1em, 1vw);
                border-radius: max(1em, 1vw);
                width: max(24em, 23vw);
                @media (max-width: 1745px) {
                    & {
                        right: 0%;
                    }
                }
                .nameSearvar {
                    h1 {
                        font-size: clamp(2vw, 5vw, 1em);
                    }
                }

                .contint {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .devloper {
                        background-color: #191919;
                        padding: clamp(0.5vw, 5vw, 0.1em) clamp(1vw, 5vw, 0.7em);
                        border-radius: clamp(0.4vw, 5vw, 0.2em);
                        h1 {
                            background: linear-gradient(270deg, #834de3 -0.01%, #ca56fa 88.98%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-emphasis-color: transparent;
                            font-size: clamp(1.7vw, 10vw, 0.4em);
                            font-weight: bold;
                        }
                    }
                    .faArrowsTurnToDots {
                        width: clamp(2vw, 30vw, 0.5em);
                        margin-left: clamp(1vw, 5vw, 0.3em);
                        text-align: -moz-right;
                        text-align: end;
                        font-size: max(2em, 2vw);
                    }
                }
            }
        }
        .row2 {
            // width: fit-content;
            // height: fit-content;
            .mobily {
                background-color: #000000;
                // padding: clamp(0.8vw, 5vw, 0.2em);
                // padding-top: clamp(0.3vw, 5vw, 0.1em);
                // border-radius: clamp(1vw, 5vw, 0.2em);
                // width: clamp(25vw, 30vw, 10em);
                width: max(25em, 25vw);
                border-radius: max(1em, 1vw);
                padding: max(1em, 1vw);

                .head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .deat {
                        h1 {
                            color: white;
                            font-size: clamp(1vw, 5vw, 0.4em);
                        }
                    }

                    .iconsMobil {
                        display: flex;
                        align-items: center;
                        gap: clamp(0.5vw, 10vw, 0.1em);
                        z-index: 11;
                        .mobaylIcons {
                            width: clamp(1vw, 50vw, 0.4em);
                        }
                    }
                }

                .aboutLink {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: max(2em, 2vw) 0;

                    h1 {
                        font-size: clamp(2vw, 5vw, 0.4em);
                        font-weight: bold;
                        background: linear-gradient(270deg, #834de3 -0.01%, #ca56fa 88.98%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-emphasis-color: transparent;
                    }
                    button {
                        background-color: #191919;
                        color: #777;
                        padding: clamp(0.5vw, 5vw, 0.1em);
                        border-radius: max(0.5em, 0.5vw);
                        font-size: clamp(1vw, 5vw, 0.4em);
                        transition: 0.6s ease;
                        &:hover {
                            color: white;
                        }
                    }
                }

                .contintDitels {
                    display: flex;
                    flex-direction: column;
                    gap: max(4em, 4vw);

                    .ditelsBox {
                        overflow: hidden;
                        background: linear-gradient(105.41deg, #834de3 7.83%, #a878ff 93.81%);
                        border-radius: clamp(0.3vw, 5vw, 0.1em);

                        h4 {
                            margin-bottom: clamp(1vw, 5vw, 0.2em);
                            font-size: clamp(1vw, 5vw, 0.4em);
                            font-weight: bold;
                            padding: clamp(0.6vw, 5vw, 0.2em);

                            &:last-child {
                                margin: 0;
                            }
                        }
                        .likIcons {
                            background: linear-gradient(
                                105.41deg,
                                rgba(255, 255, 255, 0.36) 7.83%,
                                rgba(205, 220, 246, 0.36) 93.81%
                            );
                            width: 100%;
                            display: flex;
                            justify-content: end;
                            padding: clamp(0.6vw, 5vw, 0.2em);
                            padding-top: clamp(0.1vw, 5vw, 0.2em);
                            padding-bottom: clamp(0.1vw, 5vw, 0.2em);
                            .Iconse1 {
                                color: #ffffff;
                                font-size: max(1.5em,1.5vw);
                            }
                            
                        }
                    }
                }
            }
        }
        .row3 {
            // width: fit-content;
            // height: fit-content;
            //
            .cardQA {
                background-color: #000000;
                // padding: clamp(1vw, 5vw, 0.2em);
                // border-radius: clamp(1vw, 5vw, 0.2em);
                border-radius: max(1em, 1vw);
                padding: max(1em, 1vw);
                width: max(38em, 38vw);

                .QA {
                    h1 {
                        color: white;
                        font-size: clamp(2vw, 5vw, 1em);
                        font-weight: bold;
                    }
                }
                .questionsIcon {
                    text-align: -moz-right;
                    text-align: end;
                    margin: clamp(1vw, 10vw, 0.5em) 0;
                    .Iconse {
                        font-size: max(2em, 2vw);
                    }
                }

                .boxbackQA {
                    background-color: #191919;
                    border-radius: clamp(1vw, 10vw, 0.2em);
                    padding: 0 clamp(1vw, 10vw, 0.3em);

                    .questionsBoxQA {
                        border-bottom: 2px solid #e6e6e677;

                        &:last-child {
                            border: none;
                        }
                        .answered {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: clamp(0.8vw, 5vw, 0.2em) 0;

                            h1 {
                                color: white;
                                font-size: clamp(1vw, 5vw, 0.3em);
                           
                            }
                            .chevron {
                                width: 3%;
                            }
                        }
                    }
                }
            }

            .ticket {
                background-color: #000000;
                // margin-top: clamp(1.9vw, 10vw, 0.2em);
                // padding: clamp(0.7vw, 10vw, 0.1em) clamp(1vw, 10vw, 0.2em);
                // border-radius: clamp(1vw, 10vw, 0.2em);
                margin-top: max(1em, 1vw);
                border-radius: max(1em, 1vw);
                padding: max(1em, 1vw);
                width: max(25em, 25vw);
                height: 100%;

                .devloper {
                    background-color: #ffffff;
                    padding: clamp(0.7vw, 10vw, 0.1em) clamp(4vw, 10vw, 0.5em);
                    border-radius: clamp(0.4vw, 10vw, 0.1em);
                    text-align: center;
                    height: 100%;

                    h1 {
                        background: linear-gradient(270deg, #834de3 -0.01%, #ca56fa 88.98%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-emphasis-color: transparent;
                        font-size: clamp(2vw, 10vw, 0.5em);
                        font-weight: bold;
                        margin-bottom: clamp(1vw, 10vw, 0.4em);
                    }
                    button {
                        border: none;
                        border-radius: clamp(1vw, 10vw, 0.3em);
                        padding: clamp(0.4vw, 10vw, 0.1em) clamp(1vw, 10vw, 0.3em);
                        font-size: clamp(1vw, 5vw, 0.3em);
                        font-weight: bold;
                        color: white;
                        cursor: pointer;
                        background: linear-gradient(273.34deg, #a878ff 5.9%, #8853e8 93.27%);
                        box-shadow: 0px 11px 24px rgba(149, 101, 234, 0.75);
                    }
                }
            }
            //
        }
    }
}
