@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");

.headres {
    position: fixed;
    z-index: 300;
    width: 100%;
    font-family: "Cabin", sans-serif;
    font-family: "Poppins", sans-serif;
    z-index: 100;
    @media (max-width: 643px) {
        & {
            display: none;
        }
    }

    .container {
        display: flex;  
        flex-direction: row;
        justify-content: space-around;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: max(5em, 5vw);
        padding: max(0.5vw, 0.5em) max(0vw, 0em);
        margin: max(1.5vw, 1.5em) auto;
        align-items: center;
        background: rgba(11, 7, 48, 0.66);
        backdrop-filter: blur(6px);

        .Hunter {
            object-fit: cover;
            width: -moz-fit-content;
            background-size: cover;
            width: max(3vw, 3em);
            height: max(3vw, 3em);
            border-radius: max(5vw, 5em);
            margin: 0 max(2vw, 2em) 0 max(1vw, 1em);
        }

        nav {
            ul {
                display: flex;
                margin: 0;
                padding-left: 0;
                align-items: center;

                li {
                    margin: 0 max(1vw, 1em);

                    a {
                        font-size: max(1vw, 1em);
                        color: white;
                        font-family: "Roboto", sans-serif;
                        font-size: clamp(1vw, 6vw, 0.7rem);
                        background-image: linear-gradient(
                          to bottom,
                          transparent 0%,
                          transparent 70%,
                          #7f5bff 100%
                        );
                        padding-bottom: 3px;
                        background-repeat: no-repeat;
                        background-size: 0% 100%;
                        background-position-x: right;
                        transition: background-size 400ms;
            
                        &:hover {
                          background-size: 100% 100%;
                          background-position-x: left;
                        }
                        &.active {
                            color: white;
                            background: linear-gradient(312deg, #7f5bff 0%, #4624c2 99.96%);
                            box-shadow: 0px 0px 10px 6px #7f5bff;
                            border-radius: max(50vw, 50em);
                            padding: max(0.4vw, 0.4em) max(1vw, 1em);
                            line-height: 2;
                        }
                    }
                }
            }
        }
    }
}
