.Project {
  height: -moz-fit-content;
  height: fit-content;
  padding: max(4em, 4vw);
}
.Project .container {
  position: relative;
}
.Project .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(20em, 20vw), 1fr));
  gap: clamp(5vw, 20vw, 2em);
  margin: 0 auto;
  color: black;
  justify-items: center;
}
.Project .container .cards .box {
  position: relative;
  box-shadow: 0px 10px 20px rgba(179, 197, 234, 0.48), inset -4px -4px 8px #dfe6f5, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  z-index: 1;
  padding-top: clamp(1vw, 20vw, 0.4em);
  border-radius: max(2em, 2vw);
  margin: clamp(2vw, 20vw, 0.9em) clamp(0vw, 0vw, 0em) clamp(1vw, 20vw, 0.4em);
  width: max(24em, 24vw);
  overflow: hidden;
  cursor: pointer;
  transition: 0.9s;
}
.Project .container .cards .box .projectimges {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.Project .container .cards .box .ditelsLista {
  position: relative;
  background: linear-gradient(105.41deg, rgb(246, 248, 255) 7.83%, rgb(205, 220, 246) 93.81%);
  box-shadow: 0px 10px 20px rgba(179, 197, 234, 0.48);
  margin-top: max(5em, 5vw);
  padding-bottom: max(0.8em, 0.8vw);
  border-radius: max(1.4em, 1.4vw);
  z-index: 1;
  transition: 0.3s ease;
}
.Project .container .cards .box .ditelsLista .titel {
  padding: 0 max(0.9em, 0.9vw);
}
.Project .container .cards .box .ditelsLista .titel h1 {
  background: linear-gradient(90deg, rgba(96, 0, 192, 0.37) 10.67%, rgba(245, 0, 250, 0.37) 100%);
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: max(2em, 2vw);
}
.Project .container .cards .box .ditelsLista .titel p {
  font-family: "Roboto", sans-serif;
  font-size: max(0.8em, 0.8vw);
  color: #000000;
}
.Project .container .cards .box .ditelsLista .contint {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 clamp(1vw, 5vw, 0.4em);
  margin-top: clamp(1vw, 5vw, 0.4em);
}
.Project .container .cards .box .ditelsLista .contint .likeDisLik {
  display: flex;
  gap: clamp(1vw, 10vw, 0.1em);
}
.Project .container .cards .box .ditelsLista .contint .likeDisLik .lik,
.Project .container .cards .box .ditelsLista .contint .likeDisLik .dis {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(105.41deg, rgba(255, 255, 255, 0.36) 7.83%, rgba(205, 220, 246, 0.36) 93.81%);
  box-shadow: 0px 10px 20px rgba(179, 197, 234, 0.48), inset -4px -4px 8px #dfe6f5, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  border-radius: clamp(0.6vw, 5vw, 0.1em);
  padding: clamp(0.4vw, 10vw, 0.2em) clamp(1vw, 5vw, 0.4em);
  transition: 0.3s ease;
}
.Project .container .cards .box .ditelsLista .contint .likeDisLik .lik:hover,
.Project .container .cards .box .ditelsLista .contint .likeDisLik .dis:hover {
  box-shadow: 0px 10px 20px rgba(179, 197, 234, 0), inset -4px -4px 8px #dfe6f5, inset 3px 3px 10px rgba(255, 255, 255, 0);
  color: #834de3;
}
.Project .container .cards .box .ditelsLista .contint .likeDisLik .lik button,
.Project .container .cards .box .ditelsLista .contint .likeDisLik .dis button {
  font-weight: bold;
  font-size: max(0.8em, 0.8vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Project .container .cards .box .ditelsLista .contint .likeDisLik .lik button .faThumbsUp,
.Project .container .cards .box .ditelsLista .contint .likeDisLik .dis button .faThumbsUp {
  display: block;
  font-size: max(1.1em, 1.1vw);
}
.Project .container .cards .box .ditelsLista .contint .by h1 {
  font-weight: bold;
  font-size: clamp(0.8vw, 5vw, 0.4em);
}
.Project .container .more {
  text-align: center;
  margin: max(1em, 1vw) 0;
  display: flex;
  justify-content: center;
}
.Project .container .more button {
  background: linear-gradient(105.41deg, rgb(255, 255, 255) 7.83%, rgb(205, 220, 246) 93.81%);
  box-shadow: 0px 10px 20px rgba(179, 197, 234, 0.48), inset -4px -4px 8px #dfe6f5, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  border-radius: clamp(1vw, 10vw, 0.4em);
  padding: clamp(0.5vw, 10vw, 0.4em) clamp(1vw, 10vw, 0.4em);
  color: #000000;
  font-weight: bold;
  font-size: clamp(1vw, 10vw, 0.4em);
  display: flex;
  gap: clamp(1vw, 10vw, 0.4em);
}
.Project .container .more button .faArrowDown {
  width: clamp(1vw, 10vw, 0.4em);
}/*# sourceMappingURL=Project.module.css.map */